<?xml version="1.0"?>
<config>
    <modules>
        <{{ config.getNamespace }}_{{ config.getModule }}>
            <active>{% if config.getActive %}true{% else %}false{% endif %}</active>
            <codePool>{{ config.getCodePool }}</codePool>
        </{{ config.getNamespace }}_{{ config.getModule }}>
    </modules>
</config>